* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #1e1e1e;
  color: #e5e5e5;
}

header {
  background-color: #121212;
  color: #4a90e2;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 3em;
}

section {
  padding: 40px 20px;
}

h2 {
  color: #4a90e2;
  font-size: 2.2em;
  margin-bottom: 20px;
  text-align: center;
}

#localizacao, #descricao-evento, #quem-deve-ir, #porque-ir > p {
  text-align: center;
}

#organizadores p {
  text-align: center;
}

p, ul {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#imagem-evento {
  display: flex;
  justify-content: center; 
  align-items: center;    
  margin-bottom: 40px;
  width: 100%;
  height: 100%;       
}

#imagem-evento img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  background-color: #2c2c2c;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

ul li strong {
  color: #4a90e2;
}

a {
  color: #4a90e2;
}

.palestrante-card {
  display: flex;
  align-items: center;
  background-color: #2c2c2c;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.palestrante-card img {
  border-radius: 50%;
  margin-right: 20px;
}

.palestrante-card .info-palestrante h3 {
  color: #4a90e2;
  margin-bottom: 10px;
}

footer {
  background-color: #121212;
  color: #e5e5e5;
  padding: 20px;
  text-align: center;
}

#form-inscricao {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  /* Limita a largura máxima do formulário */
  margin: 0 auto;
  /* Centraliza o formulário horizontalmente */
}

#form-inscricao label,#form-inscricao input {
  margin-bottom: 10px;
}

#form-inscricao input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #4a90e2;
  background-color: #2c2c2c;
  color: #e5e5e5;
}

button {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  /* Botão ocupa 100% da largura do formulário */
}

button:hover {
  background-color: #357ab8;
}

#mensagem-sucesso {
  color: #4a90e2;
  margin-top: 20px;
}

#fale-conosco{
  text-align: center;
}