@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #1e1e1e;
  color: #e5e5e5;
}

header {
  color: #4a90e2;
  padding: 0; /* Increased padding */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-bottom: 2px solid #4a90e2; /* Border at the bottom */
}

section {
  padding: 40px 20px;
}

h1 {
  color: white;
  text-align: center; /* Center the text */
  font-size: 2em; /* Default font size */
  margin-bottom: 20px;
}

h2 {
  color: #4a90e2;
  font-size: 2.2em;
  margin-bottom: 20px;
  text-align: center;
}

/* Default margin for small screens */
.margin {
  margin-left: 5%;
  margin-right: 5%;
}

/* Medium screens */
@media (min-width: 768px) {
  .margin {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .margin {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/* Extra large screens */
@media (min-width: 1440px) {
  .margin {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.descricao {
  text-align: center;
  margin: 20px 0; /* Add vertical space between text blocks */
  color: #ffffff; /* Dark grey text */
  padding: 10px 0; /* Add some padding inside the text block */
  font-family: 'Roboto', sans-serif; /* Modern font */
  border-bottom: 1px solid rgba(74, 144, 226, 0.5); /* 50% opacity */
}


#organizadores {
  font-size:0.9em;
  padding: 40px 20px;
}

#organizadores h2 {
  font-size: 2.5em; /* Increase the font size of the heading */
  margin-bottom: 20px;
  text-align: center;
}

#organizadores ul {
  list-style-type: none;
  padding-left: 0;
}

#organizadores ul li {
  background-color: #2c2c2c;
  padding: 15px; /* Increase padding for better spacing */
  margin-bottom: 15px; /* Increase margin for better spacing */
  border-radius: 5px;
  font-size: 1.2em; /* Increase font size for the organizers' names */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#organizadores ul li a img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 10px; /* Add some space between the name and the icon */
}


#fale-conosco {
  text-align: center; /* Center the text */
  padding: 20px; /* Add some padding for better spacing */
  margin: 20px 0; /* Add vertical margin for separation */
}

#fale-conosco p {
  margin-bottom: 10px; /* Add some space between paragraphs */
}

#fale-conosco a {
  color: #4a90e2; /* Ensure the link color matches your theme */
  text-decoration: none; /* Remove underline from the link */
}

#fale-conosco a:hover {
  text-decoration: underline; /* Add underline on hover for better UX */
}

p, ul {
  margin-bottom: 20px;
}

#imagem-evento {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 3%;
  display: flex;
  justify-content: center; 
  align-items: center;    
  width: 100%;
  height: 100%;       
}

#imagem-evento img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  background-color: #2c2c2c;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

ul li strong {
  color: #4a90e2;
}

a {
  color: #4a90e2;
}


.palestrante-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2c2c2c;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.palestrante-card img {
  border-radius: 1%;
  margin-right: 20px;
}

.palestrante-card .info-palestrante h3 {
  color: #4a90e2;
  margin-bottom: 10px;
}

footer {
  color: #e5e5e5;
  padding: 30px 0; /* Increased padding */
  text-align: center;
  border-top: 2px solid #4a90e2; /* Border at the top */
}

#form-inscricao {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  
}

#form-inscricao label,#form-inscricao input {
  margin-bottom: 10px;
}

#form-inscricao input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #4a90e2;
  background-color: #2c2c2c;
  color: #e5e5e5;
}
button {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  padding: 15px 30px; /* Increase padding for a bigger button */
  cursor: pointer;
  border-radius: 5px;
  width: 100%; /* Button occupies 100% of the form width */
  font-family: 'Roboto', sans-serif; /* Modern font */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #357ABD; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}
footer {
  color: #e5e5e5; /* Ensure the text color matches your theme */
  padding: 5%; /* Reduce padding for a smaller footer */
  padding-bottom: 5%;
  text-align: center; /* Center the text */
  font-size: 0.4em; /* Make the text smaller */
}

footer p {
  margin: 0; /* Remove default margin */
}

.lang-switcher {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  padding: 5px 10px; /* Adds padding to make it easier to click on mobile */
  border-radius: 5px; /* Rounded corners */
  background-color: rgba(255, 255, 255, 0.8); /* Slight background to improve visibility */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}
.lang-switcher:hover {
  background-color: rgba(255, 159, 226, 0.863);
}

#sponsored-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.sponsored-img {
  border-radius: 25px;
  width: 100%;
  height: auto;
}



/* Media Queries for responsiveness */
@media (min-width: 300px) {
  body {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
  }

  header h1 {
    font-size: 3em;
  }

  h1 {
    font-size: 1.5em; /* Adjust font size for small screens */
  }

  h2 {
    font-size: 1em;
  }

  ul {
    padding-left: 40px;
  }

  p {
    font-size: 0.9em;
    letter-spacing: 0.5px;
  }
  button {
    font-size: 1em; /* Adjust font size for small screens */
  }
  #fale-conosco {
    font-size: 0.5em;
  }
  #organizadores {
    font-size: .6em;
    
  }
  .lang-switcher {
    top: 3px; /* Less spacing on smaller screens */
    right: 3px;
    font-size: 14px; /* Slightly smaller text */
    padding: 1px 4px; /* Adjust padding */
  }

  .organizador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    background-color: #2c2c2c;
    padding: 10px 5px;
    border-radius: 5px;
    width: calc(50% - 20px); /* Ensures each item takes up half of the container */
    box-sizing: border-box; /* Includes padding and borders in width calculations */
    margin-bottom: 1px; /* Optional: adds spacing between rows */

  }
  .organizadores-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allows the items to wrap */
    gap: 5px; /* Space between items */
    justify-content: center; /* Centers items in the middle */
  }
  
  .organizador p {
    margin: 0; /* Removes default margins to ensure proper alignment */
    margin-left:.5em;
    line-height: 1.5; /* Adjusts the line height to center text better */
}

.palestrantes {
  padding: 0 0em;
}
.palestrantes h2 {
  font-size: 2em;
}
.palestrantes h3 {
  font-size: 1.6em;
  text-align: center;
  margin-top:1em;
}
.palestrantes p {
  text-align: left;
  font-size: .8em;
}
.palestrante-card {
  flex-direction: column;
  
}
.palestrante-name-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.palestrante-photo {
  width: 20em;
  height: auto;
  object-fit:fill;
}	


.linkedin {
    margin: 0; /* Adds space between the text and icon */
    margin-left: .4em;
    width: 2.1em; /* Adjust size based on preference */
    height: auto; /* Maintains aspect ratio */
}
}

@media (min-width: 768px) {
  body {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  

  header h1 {
    font-size: 3em;
  }

  h1 {
    font-size: 2em; /* Adjust font size for medium screens */
  }

  ul {
    padding-left: 40px;
  }

  p {
    font-size: 1.5em;
    letter-spacing: 0.8px;
  }
  button {
    font-size: 1.2em; /* Adjust font size for medium screens */
    }
  #fale-conosco {
    font-size: 0.5em;
  }
  #organizadores h2 {
    font-size: 2.6em;
  }
  .lang-switcher {
    top: 7px; /* Increase spacing on larger screens */
    right: 7px;
    font-size: 14px; /* Slightly larger text */
    padding: 3px 7px;
  }
  .organizador p {
    margin: 0; /* Removes default margins to ensure proper alignment */
    line-height: 1.5; /* Adjusts the line height to center text better */
}

.palestrantes {
  padding: 0 6em;
}
.palestrantes h2 {
  font-size: 2.5em;
}
.palestrantes h3 {
  font-size: 2em;
  text-align: center;
  margin-top:1em;
}
.palestrantes p {
  text-align: left;
  font-size: 1.3em;
}
.palestrante-card {
  flex-direction: column;
  
}
.palestrante-name-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.palestrante-photo {
  width: 27em;
  height: auto;
 
}	

.linkedin {
    margin: 0; /* Adds space between the text and icon */
    margin-top: .5em;
    margin-left: .4em;
    width: 2.1em; /* Adjust size based on preference */
    height: auto; /* Maintains aspect ratio */
}
  
}

@media (min-width: 1024px) {
  body {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  header h1 {
    font-size: 3em;
  }

  h1 {
    font-size: 2.5em; /* Adjust font size for large screens */
  }

  ul {
    padding-left: 60px;
  }

  p {
    font-size: 1.8em;
    letter-spacing: 1px;
    margin-left: 3em;
  }
  button {
    font-size: 1.5em; /* Adjust font size for large screens */
    }
  #fale-conosco {
    font-size: 0.5em;
  }
  #organizadores h2 {
    font-size: 3em;
  }
  .lang-switcher {
    top: 10px; /* Increase spacing on larger screens */
    right: 10px;
    font-size: 20px; /* Slightly larger text */
    padding: 5px 10px;
  }
  .organizador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    background-color: #2c2c2c;
    padding: 10px 5px;
    border-radius: 5px;
    width: calc(50% - 20px); /* Ensures each item takes up half of the container */
    box-sizing: border-box; /* Includes padding and borders in width calculations */
    margin-bottom: 1px; /* Optional: adds spacing between rows */
  }
  .organizadores-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allows the items to wrap */
    gap: 5px; /* Space between items */
    justify-content: center; /* Centers items in the middle */
  }
  .organizador p {
    margin: 0; /* Removes default margins to ensure proper alignment */
    line-height: 1.5; /* Adjusts the line height to center text better */
}

.palestrantes {
  padding: 0 10em;
}
.palestrantes h2 {
  font-size: 3.5em;
}
.palestrantes h3 {
  font-size: 2.6em;
  text-align: center;
  margin-left: .2em;
  margin-top: .3em;
  font-style: italic;
}
.palestrantes p {
  text-align: left;
  margin: .5em;
  font-size: 1.4em;
}
.palestrante-card {
  flex-direction: column;
}
.palestrante-name-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.palestrante-photo {
  width: 33em;
  height: auto;
  object-fit: cover;
}	
#organizadores h2{
  font-size: 4em;
}
.organizador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: .8em;
  background-color: #2c2c2c;
  padding: 10px 5px;
  border-radius: 5px;
  width: calc(50% - 20px); /* Ensures each item takes up half of the container */
  box-sizing: border-box; /* Includes padding and borders in width calculations */
  margin-bottom: 1px; /* Optional: adds spacing between rows */
}
.organizadores-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap; /* Allows the items to wrap */
  gap: 5px; /* Space between items */
  justify-content:center; /* Centers items in the middle */
}
.organizador p {
  margin: 0; /* Removes default margins to ensure proper alignment */
  line-height: 1.5; /* Adjusts the line height to center text better */
}

.linkedin {
    margin: 0; /* Adds space between the text and icon */
    margin-top: .5em;
    margin-left: .4em;
    width: 3em; /* Adjust size based on preference */
    height: auto; /* Maintains aspect ratio */
}
}

@media (min-width: 1330px) {



  .palestrantes h2 {
    font-size: 3.5em;
  }
  .palestrantes h3 {
    font-size: 2.6em;
    text-align: left;
    margin-left: .2em;
    margin-top: .3em;
    font-style: italic;
  }
  .palestrantes p {
    text-align: left;
    margin: .5em;
    font-size: 1.2em;
  }
  .palestrante-card {
    flex-direction: row;
  }
  .palestrante-name-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
  }
  .palestrante-photo {
    width: 25em;
    height: auto;
    object-fit: cover;
  }	

}

@media (min-width: 1440px) {
  body {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }

  header h1 {
    font-size: 3em;
  }

  h1 {
    font-size: 3em; /* Adjust font size for extra large screens */
  }


  ul {
    padding-left: 80px;
  }

  p {
    font-size: 2.5em;
    letter-spacing: 1.1px;
  }
  button {
    font-size: 2em; /* Adjust font size for extra large screens */
    }
  #fale-conosco {
    font-size: 0.6em;
  }
  .palestrantes {
    margin: 0;
  }
  .palestrantes h2 {
    font-size: 3.6em;
    
  }
  .palestrantes h3 {
    font-size: 3.2em;
    text-align: left;
    font-style: italic;
    margin-left: .5em;
  }
  .palestrantes p {
    text-align: left;
    margin: 1em;
    font-size: 1.4em;
  }
  .palestrante-card {
    flex-direction: row;
    padding:1em;
  }
  .palestrante-name-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
  }
  .palestrante-photo {
    width: 30em;
    height: auto;
    object-fit: cover;
  }	
  #organizadores h2{
    font-size: 4em;
  }
  .organizador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    background-color: #2c2c2c;
    padding: 10px 5px;
    border-radius: 5px;
    width: calc(50% - 20px); /* Ensures each item takes up half of the container */
    box-sizing: border-box; /* Includes padding and borders in width calculations */
    margin-bottom: 1px; /* Optional: adds spacing between rows */
  }
  .organizadores-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap; /* Allows the items to wrap */
    gap: 5px; /* Space between items */
    justify-content:center; /* Centers items in the middle */
  }
  .organizador p {
    margin: 0; /* Removes default margins to ensure proper alignment */
    line-height: 1.5; /* Adjusts the line height to center text better */
}

  .linkedin {
      margin: 0; /* Adds space between the text and icon */
      margin-top: .5em;
      margin-left: .5em;
      width: 4em; /* Adjust size based on preference */
      height: auto; /* Maintains aspect ratio */
  }
}

@media (min-width: 1690px) {
  .palestrantes {
    margin: 0;
  }
  .palestrantes h2 {
    font-size: 4em;
    
  }
  .palestrantes h3 {
    font-size: 3.2em;
    text-align: left;
    font-style: italic;
    margin-left: .5em;
  }
  .palestrantes p {
    text-align: left;
    margin: 1em;
    font-size: 1.7em;
  }
  .palestrante-card {
    flex-direction: row;
    padding:1em;
  }
  .palestrante-name-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
  }
  .palestrante-photo {
    width: 30em;
    height: auto;
    object-fit: cover;
  }	
}
.palestrantes{
  margin-top: 4em;
}
/* #organizadores {
  padding: 40px 20px;
  text-align: center;
} */
